@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primary-color : #E6533C;
    --background-color : #000000;
    --text-color :  #FFFFFF;
    --border : #ffffff2b;
    --p-color : rgba(255, 255, 255, 0.5);
}
/*Var */
.transition{
    *{
        transition: all 0.5s ease;
    }
    transition: all 0.5s ease;
}
.text-center{
    text-align: center;
}
.py{
    padding: 50px 20px;
}
.gap-20{
    gap: 20px;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

/*Var */
h1,h2,h3,h4,h5,h6,a{
    color: var(--text-color) ;
    text-decoration: none;
    transition: all 0.5s ease;
}
body{
    background: var(--background-color);
    overflow-x: hidden;
}
header{
    .container {
        margin-bottom: -126px;
    }
}
.section{
    display: flex;
    justify-content: center;
}
.container{
    display: inline-flex;
    width: 1200px;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}
.header-box{
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    background: transparent;
    width: 100%;
}
.logo h2 {
	color: var(--primary-color);
	font-weight: 800;
	font-style: italic;
    font-size: 36px;
}
.menu {
	display: flex;
	gap: 30px;
	border: 1px solid var(--border);
	padding: 10px 8px;
	border-radius: 39px;
	align-items: center;
    li{
        list-style: none;
    }
}
.active-menu {
	background: var(--primary-color);
	padding: 5px 15px;
	border-radius: 39px;
	font-weight: 600;
    border : 1px solid var(--primary-color) !important;
    &:hover{
        background: transparent !important;
        color : var(--primary-color) !important;
        border : 1px solid var(--primary-color) !important;
    }
}
.menu li a {
    padding: 4px 15px;
    border-radius: 39px;
    font-size: 18px;
    border: 1px solid transparent;
    &:hover{
        background: white;
        border: 1px solid white;
        color: black;
    }
}.hamburger {
    display: none;
	width: 35px;
	height: 30px;
	flex-direction: column;
	gap: 5px;
    cursor: pointer;
    &:hover{
        span{
            background: var(--primary-color);
        }
    }
}
.hamburger span {
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 10px;
}
.row{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1 {
	font-size: 68px;
	font-weight: 900;
	line-height: 77px;
}
.itlaic-style {
	font-family: "Miama";
	font-weight: 400;
	font-size: 137px;
	line-height: 0;
}
p{
    color : var(--p-color);
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}
.btn-box {
	display: flex;
	gap: 20px;
}
.btn{
    padding: 14px 35px;
    font-weight: 400;
    border-radius: 42px;
	font-size: 16px;
    border: 1px solid;
}
.btn-primary {
	background: var(--primary-color);
    border-color: var(--primary-color);
    &:hover{
        background: transparent;
        color: var(--primary-color);
    }
}
.btn-secondary {
    &:hover{
        background: white;
        color: black;
    }
}
.hero-img{
    width: 350px;
    height: auto;
    align-self: end;
    transform: translateX(59px);
}
.row.hero-row {
	flex-direction: row;
	align-items: center;
    justify-content: center;
}
.counter-box {
	background: rgba(255, 255, 255, 0.174);
	backdrop-filter: blur(20px);
	padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px !important;
    z-index: 1;
    position: absolute;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
    div{
        gap: 2px;
        display: flex;
        flex-direction: column;
    }
}
.counter-box h2 {
	font-size: 40px;
	font-weight: 800;
}
.counter-box p {
	font-size: 14px;
    color : rgba(255, 255, 255, 0.65);
}
.circle{
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
}
.counter-box.counter-box-2 {
	transform: translate(-130px , 171px);
}
.counter-box.counter-box-1 {
	transform: translate(175px , -72px);
}
.hero {
	background: linear-gradient(0deg , #000 , #2c2c2ca6);
    padding: 100px 20px;
}
.flex-cloumn{
    flex-direction: column;
}
h2{
    font-size: 48px;
}
.grid-box-habit{
    grid-template-columns: auto auto auto auto;
    padding-top: 40px;
    gap: 80px;
}
.box-habits {
	display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 50px;
    transition: all 0.5s ease;
    div{
        flex-direction: column;
        gap: 10px;
    }
    h3{
        font-size: 18px;
        font-weight: 600;
    }
    img{
        border-radius: 50%;
        transition: all 0.5s ease;
    }
    &:hover{
        cursor: pointer;
        img{
            transform: scale(1.1);
        }
    }
}
.card-run {
	display: flex;
	gap: 50px;
	align-items: center;
	background: rgba(34, 34, 34, 1);
	padding: 50px;
	border-radius: 18px;
    h2{
        font-weight: 800;
    }
    a{
        padding: 15px 83px;
    }
    p{
        width: 85%;
        font-weight: 300;
    }
}
.traning-grid{
    padding: 50px 20px;
}
.section.traning-grid .container {
	align-items: start;
	flex-direction: column;
	gap: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "item1 item2 item2 item3 "
      "item4 item4 item5  item6";
    width: 100% ;
  }
  
.grid-item {
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    box-sizing: border-box;
    height: 220px;
    background-size: cover !important;
    h5{
        font-size: 14px;
        font-weight: 500;
    }
  }
  
.item1 { 
    grid-area: item1;
    h5{
        color: #000;
    }
}
.item2 { 
    grid-area: item2;
    align-items: start;
 }
.item3 { 
    grid-area: item3;
}
.item4 { 
    grid-area: item4;
    justify-content: end;
    align-items: start; 
}
.item5 { 
    grid-area: item5;
}
.item6 { 
    grid-area: item6;
}
  .grid-item h5 {
    margin: 0;
  }
  
  .center{
    justify-content: center;
}
.bmi-cal{
    background-color: #222222;
    padding: 50px 20px;
    .container{
        align-items: start;
    }
    h3{
        font-size: 28px;
    }
    table{
        margin-top: 30px;
        width: 70%;
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
        border-collapse: collapse;
        font-weight:400;
        th{
            text-align: start;
            color: white;
            font-size: 14px;
            font-weight: 400;
        }
        th,td{
            padding: 10px;
            border-color: rgba(255, 255, 255, 0.1);
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        input,#s {
            width: 45%;
        }
        #ac{
            width: 92%;
        }
        input,select{
            background-color: rgba(255, 255, 255, 0.1);
            outline: none;
            font-weight: 400;
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.6);
            padding: 10px 20px;
            border-radius: 8px;
        }
        button{
            color: white;
            padding: 8px 40px;
            border-radius: 20px;
        }
    }
}
.grid-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
	padding-top: 50px;
    width: 100%;
}
.members {
	width: 30%;
	height: 240px;
	background-size: cover !important;
	background-position: center !important;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 20px;
}
footer{
    h2{
        font-size: 50px !important;
    }
    p{
        font-size: 14px;
        padding-top: 20px;
    }
    h3 {
        font-size: 27px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    .c2 li {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 11px;
        color: rgba(255, 255, 255, 0.5);
        list-style: none;
        a{
            color: rgba(255, 255, 255, 0.5);
            &:hover{
                color: var(--primary-color);
            }
        }
    }
}
.footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
}
.c1 {
	width: 35%;
}
.footer-copy {
	padding: 30px 0px;
    width: 100%;
}
.footer-copy h6 {
	font-size: 14px;
	font-weight: 400;
	color: rgb(90, 90, 90);
	padding-top: 20px;
	border-top: 1px solid rgb(58, 58, 58);
	width: 100% !important;
	text-align: center;
}










/* Responsive */
@media screen and (max-width:1080px){
    .traning-grid {
        padding: 200px 20px 50px 20px;
    }
    footer {
        padding: 100px 20px 170px;
        br{
            display: none !important;
        }
    }
    h1 {
        font-size: 58px;
        line-height: 70px;
    }
    .hero-img {
        width: 290px;
    }
    .counter-box.counter-box-1 {
        transform: translate(128px , -72px);
    }
    .hero .container{
        padding-top: 50px;
    }
    .container {
        margin-bottom: -146px !important;
    }
    .box-habits{
        img {
            width: 130px;
            height: auto;
            align-self: center;
        }
    }
    .grid-box-habit {
        gap: 48px;
    }
    .py {
        padding: 120px 20px;
    }
    .card-run{
        p{
            font-size: 15px;
        }
    }
    .section.bmi-cal {
        margin-top: 80px;
    }
    section{
        padding-top: 100px;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1.5fr);
        grid-template-areas: 
          "item1 item2 item3"
          "item4 item5 item6";
    }
    .section.bmi-cal {
        padding-bottom: 200px;
    }
    
}
@media screen and (max-width: 900px){
    .container {
        margin-bottom: -146px !important;
    }
    h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .itlaic-style {
        font-size: 100px;
    }
    p {
        font-size: 15px;
    }
    .hero-img {
        transform: translateX(0px) !important;
    }
    .counter-box.counter-box-1 {
        transform: translate(69px , -21px);
    }
    .counter-box.counter-box-2 {
        transform: translate(-101px , 171px);
    }
    .card-run{
        h2{
            font-size: 34px;
        }
    }
    img {
        width: 290px;
        height: auto;
    }
}
@media screen and (max-width : 850px){
    .container{
        flex-direction: column;
        gap: 40px;
        padding:  30px;
    }
    footer{
        h3{
            font-size: 18px;
        }
        li{
            font-size: 12px;
        }
        h2{
            font-size: 40px !important;
        }
    }
    table {
        width: 100% !important;
    }
    .row{
        width: 100%;
    }
    .grid-box-habit {
        gap: 48px;
        grid-template-columns: auto auto;
    }
    .content-box h2 {
        font-size: 40px;
    }
    .box-habits{
        img {
            width: auto;
            height: auto;
            align-self: center;
        }
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-areas: 
          "item1 item2 item3"
          "item4 item5 item6"
          "item4 item5 item6" !important;
      }
}
@media screen and (max-width : 750px){
    .card-run {
        flex-direction: column;
        img{
            width: 100%;
        }
        a{
            width: 100%;
            text-align: center;
        }
    }
    br{
        display: none;
    }
    .c1,.c2 {
        width: 100%;
    }
    .footer-copy h6 {
        text-align: start;
    }
}
@media screen and (max-width : 450px){
    .btn-box {
        flex-direction: column;
        a{
            text-align: center;
        }
    }
    .counter-box.counter-box-2 {
        transform: translate(-76px , 171px) scale(0.7);
    }
    .counter-box.counter-box-1 {
        transform: translate(71px, -69px) scale(0.7);
    }
    h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .itlaic-style {
        font-size: 79px;
    }
    .grid-box-habit.grid {
        grid-template-columns: auto;
    }
    .content-box h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 678px) {
    .hamburger{
        display: flex;
        &:hover>.menu{
            display: flex !important;
        }
    }
    .menu {
        position: absolute;
        left: 50%;
        display: none;
        transform: translate(-50%);
        top: 104px;
    }
    .menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 104px;
        flex-direction: column;
        width: 91%;
        border-radius: 15px;
        padding: 40px 20px;
    }
}
@media screen and (max-width: 550px){
    .members{
        width: 100%;
    }
}